
body {
  font-size: 16px;
  font-family: sans-serif;
}

.wrapper {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background: #f6f5f3;
  border: 18px solid #fff;
}

.page {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  padding: 30px;
  background: #f6f5f3;
}

.status-box {
  text-align: right;
}

.status {
  display: inline-block;
  color: #888;
  border-top: 3px solid #888;
  padding: 5px 8px 5px 8px;
}

.status-connected {
  color: #5a5;
  border-color: #5a5;
}

.status-error {
  color: #a55;
  border-color: #a55;
}

.content {
  margin: 25px auto auto 25px;
}
